.features{
    padding: 1.5em 0 0;

    @media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px ){
        padding: 1.5em 0 1.5em;
    }
    
    @media screen and (min-width: $bp-tablet) {
        background: #F4F4F4; 
        padding: 4em 0 1em;
    }     

    &__content{
        margin: 0 auto;
        min-width: 320px;
        padding: 0 0.6em;
        @include flex-column;        
        
        @media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px ){   
            width: 85%;
        }
        
        @media screen and (min-width: $bp-tablet) {
            max-width: 1200px;
            flex-direction: row;
            justify-content: center;
        } 
    }

    &__heading{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 2em;
        color: #8D81AC;
        margin: 1em 0;
        text-align: center;
        max-width: 260px;
        
        @media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px ){   
            font-size: 2.6em;
            max-width: 540px;     
        }
        
        @media screen and (min-width: $bp-tablet) {
            display: none;         
        } 
    }

    &__heading::before{
        content: "<";
        margin-right: 0.2em;
    }

    &__heading::after{
        content: ">";
        margin-left: 0.2em;
    }

    &__options{        

        @media screen and (min-width: $bp-tablet) {
            width: 42%;
            margin-right: 1em;
        }        

        .option{
            @include flex-column;
            margin-bottom: 3em;
           
            @media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px ){   
                display: grid;
                gap: 1em;
                grid-template-columns: 1fr 5fr;
                margin-bottom: 2em;  
            }
            
            @media screen and (min-width: $bp-tablet) {
                display: grid;
                gap: 1em;
                grid-template-columns: 1fr 2fr;
                margin-bottom: 2em;
                justify-items: center; 
            }

            &__img{               
                margin: 1.2em 2em;
               
                @media screen and (min-width: $bp-mobile) {   
                    margin: 0;  
                }                
            }

            &__content{                
                display: flex;
                flex-direction: column;                
            }

            &__heading{                
                color: #323232;
                margin-bottom: 0.5em;
                text-align: center;

                @media screen and (min-width: $bp-mobile) {   
                    text-align: left;
                }
            }

            &__description{
                font-size: 0.85em;
                line-height: 1.6em;
                text-align: center;
                color: #848E97;
                
                @media screen and (min-width: $bp-mobile) {   
                    text-align: left;      
                }
            }
        }
    }

    &__demo{
        width: 100%;        

        @media screen and (min-width: $bp-tablet) {
            width: 58%;
        }

        .demo{        
            &__heading{
                display: none;    
                font-size: 3em;                
                font-weight: bold;
                color: #8D81AC;
                min-width: 265px;
                padding: 0 0.5em;
                margin-bottom: 0.15em;            
              
                @media screen and (min-width: $bp-tablet) {
                    display: block; 
                } 
            }
            
            &__heading::before{
                content: "<";
                margin-right: 0.2em;
            }
        
            &__heading::after{
                content: ">";
                margin-left: 0.2em;
            }
            
            &__image{
                background: url("../img/editor1.png") no-repeat;
                background-size: 167%;            
                width: 75vw;
                height: 100vw;                 
                margin: 0 auto;

                @media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px ) {
                    background-size: 100%;
                    width: 86vw;
                    height: 65vw; 
                    margin-left: 2em;   
                }

                @media screen and (min-width: $bp-tablet) {   
                    background-size: 100%;
                    max-width: 650px;
                    height: 500px;
                    margin: 0;                   
                }
            }
        }  
    }       
}