.testimonials_headline {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
}

.testimonials {
    color: #fff;
    background-image: url(../img/testimonials-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat';
    text-align: center;
    padding: 6.7em 0 2em;
    // height: 790px;

    &__container {
        padding: 5em 0 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5em;
    }

    &__item {
        display: grid;
        grid-template-rows: 50px 1fr;
        gap: 29px;

        img {
            margin: auto auto;
            object-fit: cover;
            max-height: 50px;
        }

        p {
            font-family: 'Lato';
            font-style: italic;
            font-weight: 700;
            font-size: 1em;
            line-height: 24px;
        }
    }

    &__afterwords {
        font-family: 'Lato';
        color: #A291A5;
        font-size: 0.87em;
        line-height: 1.2em;
        padding-top: 100px;
        position: relative;
        max-width: 870px;
        margin: 0 auto;
    }

    &__afterwords::after {
        background-color: #A291A5;
        content: '';
        position: absolute;
        height: 2px;
        width: 90%;
        top: calc(100% + 14px);
        right: 5%;
    }

}

@media screen and (min-width: $bp-mobile + 1px) and (max-width: $bp-tablet) {

    .testimonials_headline {
        font-size: 2.6em;
        // padding-top: 1.8em;
    }

    .testimonials {
        padding: 4em 0 1em;

        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;
        }

        &__afterwords {
            padding: 4em 0 1em;
        }

        &__afterwords::after {
            top: calc(100% - 4px);
        }
    }
}

@media screen and (max-width: $bp-mobile) {
    .testimonials_headline {
        font-size: 2.25em;
    }

    .testimonials {
    padding: 3.5em 0 8em;

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 45px;
        padding-top: 3.6em;
    }


    &__afterwords {
        display: none;
    }
}
}