@import "../../node_modules/reset-css/sass/reset";
@import "_variables";
@import "_mixins";
@import "_reset";
@import "sections/_header";
@import "sections/_intro";
@import "sections/_editor";
@import "sections/_features";
@import "sections/_testimonials";
@import "sections/_subscription";
@import "_fonts";


body {
    font-family: 'Lato', 'Montserrat', sans-serif;
    font-weight: 400;
    min-width: 320px;
    width: 100%;
}

.wrapper {
    overflow: hidden;
} 